body {
  font-family: var(--webpage-faont-family);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.active {
  height: auto;
  background-color: var(--skybluecolor);
  border-radius: 5px;
}
