* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  --skybluecolor: #37bcc8;
  --navbar-bgcolor: #1e1818;
  --banner-bgcolor:#272121;
  --bannertextfamily:"Kaushan Script",cursive;
  --readmorefontfamily:"-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif";
  --socialmedia-icons-color:#37bcc8;
  --footer-navbar-bg:#322f2f;
  --webpage-faont-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  --skills-bg-color:#102a42;
  /* card projects */
  --skill-text-color:#f1f5f8;
  --skill-border-radius:0.25rem;
  --live-text-color:#bcccdc;
  /* --card-box-showdow:0 5px 15px hsla(0,0%,100%,.1); */
  --transition: all 0.5s linear;
  --light-shadow: 0 5px 15px hsla(0,0%,100%,.1);
  --dark-shadow: 0 5px 15px hsla(0,0%,100%,.2);
  --burl-color:#0a6c75;
  --cards-bg:#222;
  --skills-bg-color:#102a42;
  --clr-white-shade: rgba(28,28,28,.918);

}
